<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="cn/easytop/lesson03/jdbc.properties">
</properties>
<typeAliases>
	<package name="cn.easytop.lesson03.resultMap.xml"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username1}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="cn/easytop/lesson03/resultMap/xml/GradeMapper.xml"/>
 	<mapper resource="cn/easytop/lesson03/resultMap/xml/StudentMapper.xml"/>
  </mappers>
</configuration>